cfs entry for: _1o.fld
doc 0
  field 0
    name TITLE
    type string
    value File contenente frasi tutte uguali
  field 1
    name CONTENT
    type string
    value Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\
Questo file contiene frasi tutte identiche tra loro; verrà usato solo a scopo di test\

END
checksum 00000000002291303259
cfs entry for: _1o.inf
number of fields 2
  name TITLE
  number 0
  index options DOCS_AND_FREQS_AND_POSITIONS
  term vectors false
  payloads false
  norms true
  doc values NONE
  doc values gen -1
  attributes 0
  data dimensional count 0
  index dimensional count 0
  dimensional num bytes 0
  vector number of dimensions 0
  vector encoding FLOAT32
  vector similarity EUCLIDEAN
  soft-deletes false
  name CONTENT
  number 1
  index options DOCS_AND_FREQS_AND_POSITIONS
  term vectors false
  payloads false
  norms true
  doc values NONE
  doc values gen -1
  attributes 0
  data dimensional count 0
  index dimensional count 0
  dimensional num bytes 0
  vector number of dimensions 0
  vector encoding FLOAT32
  vector similarity EUCLIDEAN
  soft-deletes false
checksum 00000000000356308035
cfs entry for: _1o.len
field TITLE
  type NUMERIC
  minvalue 5
  pattern 0
0
T
field CONTENT
  type NUMERIC
  minvalue 88
  pattern 0
0
T
END
checksum 00000000000501826720
cfs entry for: _1o.pst
field CONTENT
  term contiene
    doc 0
      freq 100
      pos 2
      pos 17
      pos 32
      pos 47
      pos 62
      pos 77
      pos 92
      pos 107
      pos 122
      pos 137
      pos 152
      pos 167
      pos 182
      pos 197
      pos 212
      pos 227
      pos 242
      pos 257
      pos 272
      pos 287
      pos 302
      pos 317
      pos 332
      pos 347
      pos 362
      pos 377
      pos 392
      pos 407
      pos 422
      pos 437
      pos 452
      pos 467
      pos 482
      pos 497
      pos 512
      pos 527
      pos 542
      pos 557
      pos 572
      pos 587
      pos 602
      pos 617
      pos 632
      pos 647
      pos 662
      pos 677
      pos 692
      pos 707
      pos 722
      pos 737
      pos 752
      pos 767
      pos 782
      pos 797
      pos 812
      pos 827
      pos 842
      pos 857
      pos 872
      pos 887
      pos 902
      pos 917
      pos 932
      pos 947
      pos 962
      pos 977
      pos 992
      pos 1007
      pos 1022
      pos 1037
      pos 1052
      pos 1067
      pos 1082
      pos 1097
      pos 1112
      pos 1127
      pos 1142
      pos 1157
      pos 1172
      pos 1187
      pos 1202
      pos 1217
      pos 1232
      pos 1247
      pos 1262
      pos 1277
      pos 1292
      pos 1307
      pos 1322
      pos 1337
      pos 1352
      pos 1367
      pos 1382
      pos 1397
      pos 1412
      pos 1427
      pos 1442
      pos 1457
      pos 1472
      pos 1487
  term file
    doc 0
      freq 100
      pos 1
      pos 16
      pos 31
      pos 46
      pos 61
      pos 76
      pos 91
      pos 106
      pos 121
      pos 136
      pos 151
      pos 166
      pos 181
      pos 196
      pos 211
      pos 226
      pos 241
      pos 256
      pos 271
      pos 286
      pos 301
      pos 316
      pos 331
      pos 346
      pos 361
      pos 376
      pos 391
      pos 406
      pos 421
      pos 436
      pos 451
      pos 466
      pos 481
      pos 496
      pos 511
      pos 526
      pos 541
      pos 556
      pos 571
      pos 586
      pos 601
      pos 616
      pos 631
      pos 646
      pos 661
      pos 676
      pos 691
      pos 706
      pos 721
      pos 736
      pos 751
      pos 766
      pos 781
      pos 796
      pos 811
      pos 826
      pos 841
      pos 856
      pos 871
      pos 886
      pos 901
      pos 916
      pos 931
      pos 946
      pos 961
      pos 976
      pos 991
      pos 1006
      pos 1021
      pos 1036
      pos 1051
      pos 1066
      pos 1081
      pos 1096
      pos 1111
      pos 1126
      pos 1141
      pos 1156
      pos 1171
      pos 1186
      pos 1201
      pos 1216
      pos 1231
      pos 1246
      pos 1261
      pos 1276
      pos 1291
      pos 1306
      pos 1321
      pos 1336
      pos 1351
      pos 1366
      pos 1381
      pos 1396
      pos 1411
      pos 1426
      pos 1441
      pos 1456
      pos 1471
      pos 1486
  term frasi
    doc 0
      freq 100
      pos 3
      pos 18
      pos 33
      pos 48
      pos 63
      pos 78
      pos 93
      pos 108
      pos 123
      pos 138
      pos 153
      pos 168
      pos 183
      pos 198
      pos 213
      pos 228
      pos 243
      pos 258
      pos 273
      pos 288
      pos 303
      pos 318
      pos 333
      pos 348
      pos 363
      pos 378
      pos 393
      pos 408
      pos 423
      pos 438
      pos 453
      pos 468
      pos 483
      pos 498
      pos 513
      pos 528
      pos 543
      pos 558
      pos 573
      pos 588
      pos 603
      pos 618
      pos 633
      pos 648
      pos 663
      pos 678
      pos 693
      pos 708
      pos 723
      pos 738
      pos 753
      pos 768
      pos 783
      pos 798
      pos 813
      pos 828
      pos 843
      pos 858
      pos 873
      pos 888
      pos 903
      pos 918
      pos 933
      pos 948
      pos 963
      pos 978
      pos 993
      pos 1008
      pos 1023
      pos 1038
      pos 1053
      pos 1068
      pos 1083
      pos 1098
      pos 1113
      pos 1128
      pos 1143
      pos 1158
      pos 1173
      pos 1188
      pos 1203
      pos 1218
      pos 1233
      pos 1248
      pos 1263
      pos 1278
      pos 1293
      pos 1308
      pos 1323
      pos 1338
      pos 1353
      pos 1368
      pos 1383
      pos 1398
      pos 1413
      pos 1428
      pos 1443
      pos 1458
      pos 1473
      pos 1488
  term identiche
    doc 0
      freq 100
      pos 5
      pos 20
      pos 35
      pos 50
      pos 65
      pos 80
      pos 95
      pos 110
      pos 125
      pos 140
      pos 155
      pos 170
      pos 185
      pos 200
      pos 215
      pos 230
      pos 245
      pos 260
      pos 275
      pos 290
      pos 305
      pos 320
      pos 335
      pos 350
      pos 365
      pos 380
      pos 395
      pos 410
      pos 425
      pos 440
      pos 455
      pos 470
      pos 485
      pos 500
      pos 515
      pos 530
      pos 545
      pos 560
      pos 575
      pos 590
      pos 605
      pos 620
      pos 635
      pos 650
      pos 665
      pos 680
      pos 695
      pos 710
      pos 725
      pos 740
      pos 755
      pos 770
      pos 785
      pos 800
      pos 815
      pos 830
      pos 845
      pos 860
      pos 875
      pos 890
      pos 905
      pos 920
      pos 935
      pos 950
      pos 965
      pos 980
      pos 995
      pos 1010
      pos 1025
      pos 1040
      pos 1055
      pos 1070
      pos 1085
      pos 1100
      pos 1115
      pos 1130
      pos 1145
      pos 1160
      pos 1175
      pos 1190
      pos 1205
      pos 1220
      pos 1235
      pos 1250
      pos 1265
      pos 1280
      pos 1295
      pos 1310
      pos 1325
      pos 1340
      pos 1355
      pos 1370
      pos 1385
      pos 1400
      pos 1415
      pos 1430
      pos 1445
      pos 1460
      pos 1475
      pos 1490
  term loro;
    doc 0
      freq 100
      pos 7
      pos 22
      pos 37
      pos 52
      pos 67
      pos 82
      pos 97
      pos 112
      pos 127
      pos 142
      pos 157
      pos 172
      pos 187
      pos 202
      pos 217
      pos 232
      pos 247
      pos 262
      pos 277
      pos 292
      pos 307
      pos 322
      pos 337
      pos 352
      pos 367
      pos 382
      pos 397
      pos 412
      pos 427
      pos 442
      pos 457
      pos 472
      pos 487
      pos 502
      pos 517
      pos 532
      pos 547
      pos 562
      pos 577
      pos 592
      pos 607
      pos 622
      pos 637
      pos 652
      pos 667
      pos 682
      pos 697
      pos 712
      pos 727
      pos 742
      pos 757
      pos 772
      pos 787
      pos 802
      pos 817
      pos 832
      pos 847
      pos 862
      pos 877
      pos 892
      pos 907
      pos 922
      pos 937
      pos 952
      pos 967
      pos 982
      pos 997
      pos 1012
      pos 1027
      pos 1042
      pos 1057
      pos 1072
      pos 1087
      pos 1102
      pos 1117
      pos 1132
      pos 1147
      pos 1162
      pos 1177
      pos 1192
      pos 1207
      pos 1222
      pos 1237
      pos 1252
      pos 1267
      pos 1282
      pos 1297
      pos 1312
      pos 1327
      pos 1342
      pos 1357
      pos 1372
      pos 1387
      pos 1402
      pos 1417
      pos 1432
      pos 1447
      pos 1462
      pos 1477
      pos 1492
  term scopo
    doc 0
      freq 100
      pos 12
      pos 27
      pos 42
      pos 57
      pos 72
      pos 87
      pos 102
      pos 117
      pos 132
      pos 147
      pos 162
      pos 177
      pos 192
      pos 207
      pos 222
      pos 237
      pos 252
      pos 267
      pos 282
      pos 297
      pos 312
      pos 327
      pos 342
      pos 357
      pos 372
      pos 387
      pos 402
      pos 417
      pos 432
      pos 447
      pos 462
      pos 477
      pos 492
      pos 507
      pos 522
      pos 537
      pos 552
      pos 567
      pos 582
      pos 597
      pos 612
      pos 627
      pos 642
      pos 657
      pos 672
      pos 687
      pos 702
      pos 717
      pos 732
      pos 747
      pos 762
      pos 777
      pos 792
      pos 807
      pos 822
      pos 837
      pos 852
      pos 867
      pos 882
      pos 897
      pos 912
      pos 927
      pos 942
      pos 957
      pos 972
      pos 987
      pos 1002
      pos 1017
      pos 1032
      pos 1047
      pos 1062
      pos 1077
      pos 1092
      pos 1107
      pos 1122
      pos 1137
      pos 1152
      pos 1167
      pos 1182
      pos 1197
      pos 1212
      pos 1227
      pos 1242
      pos 1257
      pos 1272
      pos 1287
      pos 1302
      pos 1317
      pos 1332
      pos 1347
      pos 1362
      pos 1377
      pos 1392
      pos 1407
      pos 1422
      pos 1437
      pos 1452
      pos 1467
      pos 1482
      pos 1497
  term solo
    doc 0
      freq 100
      pos 10
      pos 25
      pos 40
      pos 55
      pos 70
      pos 85
      pos 100
      pos 115
      pos 130
      pos 145
      pos 160
      pos 175
      pos 190
      pos 205
      pos 220
      pos 235
      pos 250
      pos 265
      pos 280
      pos 295
      pos 310
      pos 325
      pos 340
      pos 355
      pos 370
      pos 385
      pos 400
      pos 415
      pos 430
      pos 445
      pos 460
      pos 475
      pos 490
      pos 505
      pos 520
      pos 535
      pos 550
      pos 565
      pos 580
      pos 595
      pos 610
      pos 625
      pos 640
      pos 655
      pos 670
      pos 685
      pos 700
      pos 715
      pos 730
      pos 745
      pos 760
      pos 775
      pos 790
      pos 805
      pos 820
      pos 835
      pos 850
      pos 865
      pos 880
      pos 895
      pos 910
      pos 925
      pos 940
      pos 955
      pos 970
      pos 985
      pos 1000
      pos 1015
      pos 1030
      pos 1045
      pos 1060
      pos 1075
      pos 1090
      pos 1105
      pos 1120
      pos 1135
      pos 1150
      pos 1165
      pos 1180
      pos 1195
      pos 1210
      pos 1225
      pos 1240
      pos 1255
      pos 1270
      pos 1285
      pos 1300
      pos 1315
      pos 1330
      pos 1345
      pos 1360
      pos 1375
      pos 1390
      pos 1405
      pos 1420
      pos 1435
      pos 1450
      pos 1465
      pos 1480
      pos 1495
  term test
    doc 0
      freq 100
      pos 14
      pos 29
      pos 44
      pos 59
      pos 74
      pos 89
      pos 104
      pos 119
      pos 134
      pos 149
      pos 164
      pos 179
      pos 194
      pos 209
      pos 224
      pos 239
      pos 254
      pos 269
      pos 284
      pos 299
      pos 314
      pos 329
      pos 344
      pos 359
      pos 374
      pos 389
      pos 404
      pos 419
      pos 434
      pos 449
      pos 464
      pos 479
      pos 494
      pos 509
      pos 524
      pos 539
      pos 554
      pos 569
      pos 584
      pos 599
      pos 614
      pos 629
      pos 644
      pos 659
      pos 674
      pos 689
      pos 704
      pos 719
      pos 734
      pos 749
      pos 764
      pos 779
      pos 794
      pos 809
      pos 824
      pos 839
      pos 854
      pos 869
      pos 884
      pos 899
      pos 914
      pos 929
      pos 944
      pos 959
      pos 974
      pos 989
      pos 1004
      pos 1019
      pos 1034
      pos 1049
      pos 1064
      pos 1079
      pos 1094
      pos 1109
      pos 1124
      pos 1139
      pos 1154
      pos 1169
      pos 1184
      pos 1199
      pos 1214
      pos 1229
      pos 1244
      pos 1259
      pos 1274
      pos 1289
      pos 1304
      pos 1319
      pos 1334
      pos 1349
      pos 1364
      pos 1379
      pos 1394
      pos 1409
      pos 1424
      pos 1439
      pos 1454
      pos 1469
      pos 1484
      pos 1499
  term tutte
    doc 0
      freq 100
      pos 4
      pos 19
      pos 34
      pos 49
      pos 64
      pos 79
      pos 94
      pos 109
      pos 124
      pos 139
      pos 154
      pos 169
      pos 184
      pos 199
      pos 214
      pos 229
      pos 244
      pos 259
      pos 274
      pos 289
      pos 304
      pos 319
      pos 334
      pos 349
      pos 364
      pos 379
      pos 394
      pos 409
      pos 424
      pos 439
      pos 454
      pos 469
      pos 484
      pos 499
      pos 514
      pos 529
      pos 544
      pos 559
      pos 574
      pos 589
      pos 604
      pos 619
      pos 634
      pos 649
      pos 664
      pos 679
      pos 694
      pos 709
      pos 724
      pos 739
      pos 754
      pos 769
      pos 784
      pos 799
      pos 814
      pos 829
      pos 844
      pos 859
      pos 874
      pos 889
      pos 904
      pos 919
      pos 934
      pos 949
      pos 964
      pos 979
      pos 994
      pos 1009
      pos 1024
      pos 1039
      pos 1054
      pos 1069
      pos 1084
      pos 1099
      pos 1114
      pos 1129
      pos 1144
      pos 1159
      pos 1174
      pos 1189
      pos 1204
      pos 1219
      pos 1234
      pos 1249
      pos 1264
      pos 1279
      pos 1294
      pos 1309
      pos 1324
      pos 1339
      pos 1354
      pos 1369
      pos 1384
      pos 1399
      pos 1414
      pos 1429
      pos 1444
      pos 1459
      pos 1474
      pos 1489
  term usato
    doc 0
      freq 100
      pos 9
      pos 24
      pos 39
      pos 54
      pos 69
      pos 84
      pos 99
      pos 114
      pos 129
      pos 144
      pos 159
      pos 174
      pos 189
      pos 204
      pos 219
      pos 234
      pos 249
      pos 264
      pos 279
      pos 294
      pos 309
      pos 324
      pos 339
      pos 354
      pos 369
      pos 384
      pos 399
      pos 414
      pos 429
      pos 444
      pos 459
      pos 474
      pos 489
      pos 504
      pos 519
      pos 534
      pos 549
      pos 564
      pos 579
      pos 594
      pos 609
      pos 624
      pos 639
      pos 654
      pos 669
      pos 684
      pos 699
      pos 714
      pos 729
      pos 744
      pos 759
      pos 774
      pos 789
      pos 804
      pos 819
      pos 834
      pos 849
      pos 864
      pos 879
      pos 894
      pos 909
      pos 924
      pos 939
      pos 954
      pos 969
      pos 984
      pos 999
      pos 1014
      pos 1029
      pos 1044
      pos 1059
      pos 1074
      pos 1089
      pos 1104
      pos 1119
      pos 1134
      pos 1149
      pos 1164
      pos 1179
      pos 1194
      pos 1209
      pos 1224
      pos 1239
      pos 1254
      pos 1269
      pos 1284
      pos 1299
      pos 1314
      pos 1329
      pos 1344
      pos 1359
      pos 1374
      pos 1389
      pos 1404
      pos 1419
      pos 1434
      pos 1449
      pos 1464
      pos 1479
      pos 1494
  term verrà
    doc 0
      freq 100
      pos 8
      pos 23
      pos 38
      pos 53
      pos 68
      pos 83
      pos 98
      pos 113
      pos 128
      pos 143
      pos 158
      pos 173
      pos 188
      pos 203
      pos 218
      pos 233
      pos 248
      pos 263
      pos 278
      pos 293
      pos 308
      pos 323
      pos 338
      pos 353
      pos 368
      pos 383
      pos 398
      pos 413
      pos 428
      pos 443
      pos 458
      pos 473
      pos 488
      pos 503
      pos 518
      pos 533
      pos 548
      pos 563
      pos 578
      pos 593
      pos 608
      pos 623
      pos 638
      pos 653
      pos 668
      pos 683
      pos 698
      pos 713
      pos 728
      pos 743
      pos 758
      pos 773
      pos 788
      pos 803
      pos 818
      pos 833
      pos 848
      pos 863
      pos 878
      pos 893
      pos 908
      pos 923
      pos 938
      pos 953
      pos 968
      pos 983
      pos 998
      pos 1013
      pos 1028
      pos 1043
      pos 1058
      pos 1073
      pos 1088
      pos 1103
      pos 1118
      pos 1133
      pos 1148
      pos 1163
      pos 1178
      pos 1193
      pos 1208
      pos 1223
      pos 1238
      pos 1253
      pos 1268
      pos 1283
      pos 1298
      pos 1313
      pos 1328
      pos 1343
      pos 1358
      pos 1373
      pos 1388
      pos 1403
      pos 1418
      pos 1433
      pos 1448
      pos 1463
      pos 1478
      pos 1493
field TITLE
  term File
    doc 0
      freq 1
      pos 0
  term contenente
    doc 0
      freq 1
      pos 1
  term frasi
    doc 0
      freq 1
      pos 2
  term tutte
    doc 0
      freq 1
      pos 3
  term uguali
    doc 0
      freq 1
      pos 4
END
checksum 00000000003062890806
table of contents, size: 4
  filename: _1o.fld
    start: 23
    end: 9103
  filename: _1o.inf
    start: 9126
    end: 9903
  filename: _1o.len
    start: 9926
    end: 10075
  filename: _1o.pst
    start: 10098
    end: 26510
table of contents begins at offset: 0000000000000026510
